<header id="header" class="header sticky-top">



  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center">
      <!-- Logo ซ้าย -->
      <a href="/" class="logo d-flex align-items-center">
        <h1 class="sitename">HMS</h1>
      </a>

      <!-- Nav ตรงกลาง -->
      <nav id="navmenu" class="navmenu mx-auto" [class.active]="mobileMenuOpen">
        <ul>
          <li><a href="#hero" (click)="closeMobileMenu()" [class.active]="activeNav === 'home'">Home</a></li>
          <li><a href="#about" (click)="closeMobileMenu()" [class.active]="activeNav === 'about'">About</a></li>
          <li><a href="#services" (click)="closeMobileMenu()" [class.active]="activeNav === 'services'">Services</a>
          </li>
          <li><a href="#departments" (click)="closeMobileMenu()"
              [class.active]="activeNav === 'departments'">Departments</a></li>
          <li><a href="#faq" (click)="closeMobileMenu()" [class.active]="activeNav === 'faq'">FAQ</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileMenu()"></i>
      </nav>

      <!-- Login ขวา -->
      <a class="btn btn-primary rounded-pill px-4 login-btn" routerLink="/login">Login</a>

    </div>
  </div>

</header>